.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button {
  font-weight: 500;
  line-height: 1.62;
}

.card-work .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-work .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
