/* 
цвет вебстудии rgba(0, 0, 0, 1)
цвет основного текста background: rgba(33, 33, 33, 1);
цвет вторичного текста background: rgba(117, 117, 117, 1);
цвет акцента background: rgba(33, 150, 243, 1);
цвет заголовка и адреса background: rgba(255, 255, 255, 1);
цвет адреса и тел в футере background: rgba(255, 255, 255, 0,6);
цвет секции хиро и футера #2F303A;
цвет секции наше команда #F5F4FA;
цвет кнопки : rgba(245, 244, 250, 1);

*/

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --button-color: rgba(245, 244, 250, 1);
  --white-color: rgba(255, 255, 255, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  
 }

 .conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
 
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
    }

.link {
  text-decoration: none;
}



/* логотип */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 400px;
  font-size: 26px;
  line-height: 1.19;
}
.logo .one {
  color: #000000;
}

.logo .two {
  color:#ffffff;
}

.page-header{
   background-color: var(--white-color);
}

/* nav */
.main-nav {
 display: flex;
 align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  }

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

.auth-nav .item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* HERO */

.section-hero {
  /* color: var(--white-color); */
  text-align: center;
}

.section-hero .titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-text-color);
  background: var(--button-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.hero {
  min-width: 200px;
  display: inline-block;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: bold;

  color: var(--white-color);
  background-color: var(--accent-color);

  letter-spacing: 0.06em;
  line-height: 1.87;
  /* display: flex; */
  text-align: center;
  align-items: center;
}

/* Наши ценности */

.hiden {
  display: none;
  }

.our-list {
  display: flex;
  padding-bottom: 94px;
  text-align: left;
  width: 270px;
 }

.our-list .item:not(:last-child){
  margin-right: 30px;
}

.our-list .titel {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

.our-list .text-titel {
  margin-top: 0%;
  margin-bottom: 0%;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  }

/* чем мы занимаемся */

.section-img {
  display: flex;
  padding-bottom: 94px;
}

.section-img .item:not(:last-child){
  margin-right: 30px;
}

.section-img .title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-img .text {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Наша команда */

.our-team {
padding-top: 0px;
padding-bottom: 94px;

  background: rgb(245, 244, 250);
}

.our-team .titel {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-team .titel-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team .titel-text {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.soc-link a:hover,
.soc-link a:focus {
  background-color: var(--accent-color);
}

.soc-link {
  display: flex;
  justify-content: center;
}

.our-team .icon{
  display: flex;
  flex-wrap: wrap;
 }

.our-team .item-card{
  background-color: #ffffff;

   width: 270px;
   border-radius: 0 0 5px 5px;
   box-shadow: 0 4px 4px 0 rgba(0,0,0, 25%);
   }

.our-team .item-card:not(:last-child){
  margin-right: 30px;
}

.our-team .item:not(:last-child){
  margin-right: 10px;
}

/* постоянные клиенты */

.regular-customers {
  padding-top: 0px;
  padding-bottom: 94px;
}

.regular-customers .titel{
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.regular-customers .icon {
  display: flex;
  justify-content: space-evenly;
}

.regular-customers .item:not(:last-child){
  margin-right: 30px;
}

/* ФУТЕР */

.section-footer {
  background: rgb(47, 48, 58);
}

.section-footer .location {
  margin-top: 0px;
  margin-bottom: 9px;

  color: var(--white-color);
}

.section-footer .contacts {
  margin-top: 0px;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.section-footer .text-titel {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

