/* 
цвет вебстудии rgba(0, 0, 0, 1)
цвет основного текста background: rgba(33, 33, 33, 1);
цвет вторичного текста background: rgba(117, 117, 117, 1);
цвет акцента background: rgba(33, 150, 243, 1);
цвет заголовка и адреса background: rgba(255, 255, 255, 1);
цвет адреса и тел в футере background: rgba(255, 255, 255, 0,6);
цвет секции хиро и футера #2F303A;
цвет секции наше команда #F5F4FA;

*/
body {
  background-color: #ffffff;
  color: rgba(33, 33, 33, 1);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* логотип хз как  оформить по макету */
.logo {
  color: blue;
}

/* nav */
.site-nav a {
  color: inherit;
}
.site-nav a:hover,
.site-nav a:focus {
  color: rgba(33, 150, 243, 1);
}
.auth-nav a {
  color: rgba(117, 117, 117, 1);
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: rgba(33, 150, 243, 1);
}
/* HERO */
.section-hero {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 1);
}
