.button:hover,
.button:focus {
  color: $white-color;
  background-color: $accent-color;
}

.navigation-button .button {
  padding: 6px 22px;
}

.button-card {
  margin-bottom: 34px;

  & .navigation-button {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
}

.navigation-button .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-button .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}
