.logo {
  margin-left: 10px;
  color: $accent-color;
  font-family: Raleway;
  font-weight: 400px;
  font-size: 26px;
  line-height: 1.19;

  & .one {
    color: #000000;
  }

  & .two {
    color: $white-color;
  }
}
