body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.img-block {
  display: block;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1170px) {
    width: 370px;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: $white-color;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 1170px) {
    justify-content: start;
  }
}

.activ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: $accent-color;
}
